<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar
      color="warn"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div>
        <a routerLink="/">Forum</a>
      </div>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/login">LOGIN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <strong>{{ (user | async)?.displayName }}</strong>
      <button mat-menu-item routerLink="/posts/new">Add new post</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</ng-template>
